.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.CaptureInfo {
  display: flex;
}

.App-header {
  background-color: #353e52;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Credits {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3ccbf7;
  color: white;
  text-align: center;
}

.Upper {
  vertical-align: middle;
  position: fixed;
  padding: 40px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #3ccbf7;
  color: white;
  text-align: center;
}

.Results {
  font-size: 12px;
  margin: 20px;
}

input[type=text] {
  width: 50%;
  align-content: center;
  vertical-align: middle;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3ccbf7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
